<div class="tutor-card col-md-6">
  <div class="margin-all-10 padding-all-10 border-all-grey">
    <div class="text-center">
      <img
        src="{{ $ctrl.tutor.picture.large }}"
        alt=""
        class="row img-circle" />
    </div>

    <h3 class="row text-center">

      <!-- Note here: css uppercase::first-letter wont work if
      its split between two lines and not a `p` tag. So we will
      create a filter-->
      <a href="">{{ $ctrl.tutor.name.first | uppercaseFirstLetter }} {{ $ctrl.tutor.name.last | uppercaseFirstLetter }}</a>
    </h3>

    <div class="row">
      <dl>
        <dt>Email: </dt>
        <dd>
          <a href="mailto:{{ $ctrl.tutor.email }}">{{ $ctrl.tutor.email }}</a>
        </dd>

        <dt>Country: </dt>
        <dd>{{ $ctrl.tutor.nat | isoCountryFromAbbreviation }}</dd>

      </dl>
    </div>
  </div>
</div>
